section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* z-index: 2; */
}

.attribution {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: auto;
	font-style: italic;
	padding-top: 60px;
}

.form-group{
	text-align: center;
} 


.mainTitle{
    color: #aa706a;
    font-family: Amsterdam;
    letter-spacing: 1.2rem;
	font-size: 60px;
    text-align: center;
    padding-top: 30px;
	padding-bottom: 45px;
}

.chart{
	padding-top: 40px;
	padding-bottom: 30px;
	align-self: center;
	text-align: center;
}

.quote{
	align-items: center;
	font-style: italic;
}

.container {
	background-color:rgba(213, 185, 177, .53);
	height: 575px;
	width: 100%;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
	background-size: 100% auto;
	z-index: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  }

  .container:after {
	content: '';
	/* background: linear-gradient(135deg, #dc4225, #292484); */
	width: 100%;
	height: 100%;
	opacity: 0.5;
	top: 0;
	left: 0;
	display: block;
	z-index: -1;
	position: absolute;
  }
