.wrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
  }

.row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: .5em;
  }
  .row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .row > input {
    flex: 2;
  }

datalist{ 
    display: flex;
    justify-content: flex-start;
    width: auto;
}

input[type="range"] {
    width: auto;
    margin: 0;
}

.slide-bar{
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  flex-flow: row wrap;
}