<div class="container">
    <div class="container__slider">

    <div class="picturecontainer">
        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2">
        <input type="radio" name="slider" id="item-3">

        <div class="cards">
            <input type="radio" name="slider" id="item-1" checked>
            <input type="radio" name="slider" id="item-2">
            <input type="radio" name="slider" id="item-3">

            <div class="cards">
                <label class="card" for="item-1" id="selector-1">
                    <img src="https://cdn.discordapp.com/attachments/1069797267172765818/1070456617700696174/Screen_Shot_2023-02-01_at_3.31.46_PM.png">
                </label>
                <label class="card" for="item-2" id="selector-2">
                    <img src="https://cdn.discordapp.com/attachments/1069797267172765818/1070457850788335760/Screenshot_2023-02-01_at_3.35.38_PM.png">
                </label>
                <label class="card" for="item-3" id="selector-3">
                    <img src="https://cdn.discordapp.com/attachments/1069797267172765818/1070483569723576380/image.png">
                </label>
        </div>
    </div>

</div>
</div>
