<div class="page-container">
<div class="container">
    <ul class="accordian">
 
        <li>
          <img src="https://live.staticflickr.com/65535/52673798464_56607481e1_z.jpg">
        </li>
        <li>
          <img src="https://live.staticflickr.com/65535/52673803419_56d695ca57_z.jpg">
        </li>
        <li>
          <img src="https://live.staticflickr.com/65535/52673505771_2872563554_z.jpg">
        </li>
        <li>
          <img src="https://live.staticflickr.com/65535/52673519791_658f384b89_z.jpg">
        </li>
        <li>
          <img src="https://live.staticflickr.com/65535/52673000742_df36cb263d_z.jpg">
        </li>
      </ul>
</div>
</div>