<body>
    <div class="mainTitle">About</div>
        <div class="container">
            <div class="about">
                <h3>About Us</h3>
                <p> </p>

            </div>
            <div class="resources">
                <h3>Resources</h3>
                <ul>
                    <li>Call 911</li>
                    <li>988 Suicide & Crisis Lifeline (formerly known as the National Suicide Prevention Lifeline): 988 for English or Spanish, or Lifeline Chat. TTY users can use their preferred relay service or dial 711 then 988.</li>
                    <li>Crisis Text Line: Text SIGNS to 741741 for 24/7, anonymous, free crisis counseling</li>
                    <li>Disaster Distress Helpline: CALL or TEXT 1-800-985-5990 (press 2 for Spanish)</li>
                    <li>National Domestic Violence Hotline: 1-800-799-7233 or text LOVEIS to 22522</li>
                    <li>National Child Abuse Hotline: 1-800-4AChild (1-800-422-4453) or text 1-800-422-4453</li>
                    <li>National Sexual Assault Hotline: 1-800-656-HOPE (4673) or Online Chat</li>
                    <li>Trans Lifeline: 1-877-565-8860 (para español presiona el 2)</li>
                    <li>Veteran's Crisis Line: 988, then select 1, or Crisis Chat or text: 838255</li>
                </ul>
            </div>
        </div>
</body>
