.mainTitle{
    color: #aa706a;
    font-family: Amsterdam;
    letter-spacing: 1.2rem;
	font-size: 60px;
    text-align: center;
    padding-top: 45px;
	padding-bottom: 45px;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.about {
    flex-basis: 100%;
}

.resources {
    flex-basis: 100%;
}