<body>
    <div id="page-container">
    <div id="content-wrap">
    <div class="mainTitle">About</div>
        <div class="container">
            <div class="about-trackfully">
                <h3>About Trackfully</h3>
                <p>Trackfully began as nothing more than an idea to make tracking our daily habits or symptoms easier.</p>
                <p>You don't want to hassle with spreadsheets and bulky apps when you're not feeling well or trying to make better choices. Trackfully offers a simple and streamlined application where you can easily track what you want to track and see a month's worth of data all in one place.</p>
                <p>When you register for a free and secure account, you gain access to a personalized symptom management page and dashboard. Here you can customize what 3 symptoms or habits you would like to track. With the user-friendly daiily tracker form, you can select a date, a symptom and rate it on a scale of 1-10. Your daily data for up to 3 symptoms appearing in a simple line graph on the dashboard gives you a quick overview of how you've been doing. It can help pinpoint problem areas and give insights into what might have caused trouble during specific days or weeks. </p>

            </div>
            <div class="about-us">
                <h3>About Us</h3>
                <p>Trackfully was created by a group of LaunchCode Women+ Cohort students from St. Louis, Missouri as our capstone project. We utilized components we were taught in class as well as learned about and implemented new components to build this project. We are extremely proud of the work we have put into Trackfully and hope to look back at it fondly as our first created application.</p>              
                <ul>
                    <li>Emily Hart, Full Stack Developer</li>
                    <li>Emma Halsey, Full Stack Developer</li>
                    <li>Sarah Lashley, Full Stack Developer</li>
                    <li>Marina Nambiar, Full Stack Developer & Tech Co-Lead</li>
                    <li>Jenny Ryoo, Full Stack Developer & Tech Co-Lead</li>
                    <li>Krystal White, Liftoff Mentor</li>
                </ul>
                <p>It wouldn't be an "About Us" page if it didn't include a glimpse at our humble beginnings. 'Population of Bears' was a graph we used as a placeholder on our wireframe when we first began this project. It helped us get through stressful moments with a smile and a reminder of how far we have come.</p>
            </div>
            <div class="resources">
                <h3>Resources</h3>
                <ul>
                    <li>Call 911 for immediate medical emergencies</li>
                    <li>Call or text 988 <a href="https://988lifeline.org/"> Suicide & Crisis Lifeline</a></li>
                    <li>Crisis Text Line: Text SIGNS to 741741 for 24/7, anonymous, free crisis counseling</li>
                    <li><a href="https://www.samhsa.gov/find-help/disaster-distress-helpline"> Disaster Distress Helpline:</a> Call or TEXT 1-800-985-5990</li>
                    <li><a href="https://www.veteranscrisisline.net/">Veteran's Crisis Line:</a> Call 988, then select 1, or Crisis Chat or text: 838255</li>
                    <li><a href="https://www.thehotline.org/">National Domestic Violence Hotline:</a> Call 1-800-799-7233 or text LOVEIS to 22522</li>
                    <li><a href="https://childhelphotline.org/">National Child Abuse Hotline:</a> 1-800-4AChild (1-800-422-4453) or text 1-800-422-4453</li>
                    <li><a href="https://rainn.org/">National Sexual Assault Hotline:</a> 1-800-656-HOPE (4673) or Online Chat</li>
                    <li><a href="https://translifeline.org/">Trans Lifeline:</a> 1-877-565-8860</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
