<div class="container col-md-7" >
    <div class="mainTitle">What would you like to track?</div>

    <form (ngSubmit)="onSubmit(symptom)">
        <div class="form-group">
            <label for="" class="form-label">
                <input type="text" 
                placeholder="Symptom/Habit Name"
                #symptomName = "ngModel"
                [(ngModel)]="symptom.symptomName" 
                id="symptomName" 
                name="symptomName"
                class="form-control"
                required [pattern]="symptomNamePattern">
            </label>
            <div *ngIf="symptomName.errors">
                <small class="text-danger" *ngIf="symptomName.errors.required && symptomName.touched"> 
                    This field is required.
                </small>	
            </div>
            <br>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Start Tracking!</button>
        </div>
    </form>
</div>
