<div class="container col-md-7" >
    <h1>What would you like to track?</h1>

    <form (ngSubmit)="onSubmit(symptom)">
        <div class="form-group">
            <label for="" class="form-label">Symptom Name:
                <input type="text" 
                [(ngModel)]="symptom.symptomName" 
                id="symptomName" 
                name="symptomName"
                class="form-control">
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Start Tracking!</button>
        </div>
    </form>
</div>
