/* You can add global styles to this file, and also import other style files */
body {
	background:url(images/background-splash.png) no-repeat;
	overflow:hidden;
	background-size:cover;
	width:100%;
	height:100vh;
}

p {
    color: blueviolet;
}

h1{
    color: #519188;
    text-align: center;
    font-family: Amsterdam;
    font-size: 75px;
    letter-spacing: .9rem;
}
