<section class="sign-up-page">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <h1>App Name</h1>
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://www.excel-easy.com/examples/images/line-chart/line-chart-with-one-data-series.png" alt="hello">
        </div>

        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          
          <h1>Create an account:</h1>
          <form #registrationForm="ngForm" (ngSubmit)="onSubmit(user.pwHash, registrationForm.value.confirmPassword)" >

            <!--  name input -->
            <div class="form-outline mb-4">
                <label>Name</label>
                <input type="text" 
                      placeholder="Enter name"
                      #name = "ngModel"
                       [(ngModel)]="user.name" 
                       id="name" 
                       name="name"
                       required [pattern] = "namePattern"
                       required size = 1
                class="form-control form-control-lg" />
                <div *ngIf="name.errors">   
                  <small class="text-danger" *ngIf="name.errors.pattern"> 
                    Name can only include letters.
                </small>		 
                <small class="text-danger" *ngIf="name.errors.required && name.touched">
                  Name must not be blank.
                </small>
               </div> 
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <label>Email address</label>
                <input type="email" 
                      placeholder="Enter email"
                      #email="ngModel"
                       [(ngModel)]="user.email"
                       ngModel email
                       required [pattern]="emailPattern"
                       (keyup)="checkEmail(user.email)"
                       id="email"
                       name="email"                      
                class="form-control form-control-lg" />
                <div *ngIf="email.errors"> 
                  <small class="text-danger" *ngIf="email.errors.required && email.touched"> 
                      Email is required.
                  </small>			  
                  <small class="text-danger" *ngIf="email.errors.pattern && email.touched"> 
                    Email not valid.
                </small>		 	  
               </div> 
               <div [hidden]="emailAvailable" class="text-danger">Email is not available.</div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label>Password</label>
              <input type="password"
                     #pwHash="ngModel" 
                     [(ngModel)]="user.pwHash"
                     id="pwHash"
                     name="pwHash"
                     required
              class="form-control form-control-lg" />
              <div *ngIf="pwHash.errors"> 
                <small class="text-danger" *ngIf="pwHash.touched"> 
                    Password is required.
                </small>			  
              </div> 
            </div>

            <!-- Password confirmation -->
            <div class="form-outline mb-4">
                <label>Confirm Password</label>
                <input type="password" 
                       ngModel
                       [value] = "confirmPassword"
                       id="confirmPassword"
                       name="confirmPassword"
                       required
                class="form-control form-control-lg" />
                <!-- <div *ngIf="confirmPassword.errors"> 
                  <small class="text-danger" *ngIf="confirmPassword.touched"> 
                      Password confirmation is required.
                  </small>			  
                </div>  -->
              </div>

          <!-- next line has pw alert and will hide this alert when the passwords match -->
          <!-- <div *ngIf="confirmPassword.touched" [hidden]="user.pwHash === registrationForm.confirmPassword.value" class="alert alert-danger">Passwords must match!</div>  -->
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" [disabled]="!registrationForm.valid || !emailAvailable || user.pwHash !== registrationForm.value.confirmPassword" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign Up</button>
              </div> 
          </form>

         <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/">Sign In</a></p>
                 
        </div>
      </div>
    </div>
  </section>