
.mainTitle{
    color: #aa706a;
    font-family: Amsterdam;
    letter-spacing: 1.2rem;
	font-size: 80px;
    text-align: center;
    padding-bottom: 40px;
}

.col-md-7 col-lg-5 col-xl-5 offset-xl-1{
    position:absolute;
}

h2{
    text-align: center;
}