<div class="mainTitle">Daily Tracker</div>
    <div class="container col-md-7">
    <div>
        <form action="/dashboard" method="post" (ngSubmit)="onSubmit()">
            <div class="row form-group">
                <label for="date"
                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Date:</label>
                <!-- <input type="text" id="date" class="form-control" name="selected_date" value={{currentDate}} [(ngModel)]="dailyEntry.dateToday"/> -->
                <!-- once we allow users to select their own date instead of default value, use simple date picker instead:-->
                <input type="date" id="date" name="selected_date" class="form-control" [(ngModel)]="dailyEntry.date"
                    required #date="ngModel" />
                <div *ngIf="date.errors">
                    <small class="text-danger" *ngIf="date.errors.required && date.touched">
                        Date is required.
                    </small>
                </div>
            </div>
            <div class="row form-group">
                <label for="symptom"
                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Choose
                    Symptom:</label>
                <select>
                    <option value="symptomName" id="symptomName" name="symptomName">{{symptomInfo.symptomName}}</option>
                </select>
            </div>
            <div class="row">
                <label for="rating"
                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Rate
                    how you are feeling today:</label>
                <div>
                    <input type="range" class="slider-bar form-control" min="0" max="10" step="1" list="steplist"
                        id="rating" name="rating" [(ngModel)]="dailyEntry.rating" #rating="ngModel">
                    <datalist id="steplist"
                        style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                        <option class="slider" value="0" label="0"></option>
                        <option class="slider" value="1" label="1"></option>
                        <option class="slider" value="2" label="2"></option>
                        <option class="slider" value="3" label="3"></option>
                        <option class="slider" value="4" label="4"></option>
                        <option class="slider" value="5" label="5"></option>
                        <option class="slider" value="6" label="6"></option>
                        <option class="slider" value="7" label="7"></option>
                        <option class="slider" value="8" label="8"></option>
                        <option class="slider" value="9" label="9"></option>
                        <option class="slider" value="10" label="10"></option>
                    </datalist>
                </div>
            </div>
            <div class="row">
                <small id="ratingHelpBlock" class="form-text text-muted"
                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    0 = No symptom today <br> 10 = Symptom is at its most intense
                </small>
            </div>
            <div class="form-group">
                <button type="submit" value="Track Symptoms Here!" [disabled]="date.errors"
                    class="btn btn-primary btn-lg">Track Symptoms Here!</button>
            </div>
        </form>
    </div>
</div>