<div class="container col-md-7">
    <div class="mainTitle">Daily Tracker</div>

<div>
    <form action="/dashboard" method="post" (ngSubmit)="onSubmit(symptomInfo.id)">
        <div class="row form-group">
            <label for="date" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Date:</label>
            <!-- <input type="text" id="date" class="form-control" name="selected_date" value={{currentDate}} [(ngModel)]="dailyEntry.dateToday"/> -->
            <!-- once we allow users to select their own date instead of default value, use simple date picker instead:-->
                <input type="date" id="date" name="selected_date" [(ngModel)]="dailyEntry.date" />
        </div>
        <div class="row form-group">
            <label for="symptomid" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Choose Symptom:</label>
                <select name="symptomName" value = "1">
                <option *ngFor="let symptom of symptomValues(availableSymptoms)" 
                        class="form-control"
                        >{{symptom}}</option>
            </select>
        </div>
        <div class="row">
            <label for="rating" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Rate how you are feeling today:</label>
            <div >
                <input type="range" class="slider-bar form-control" min="0" max="10" 
                step="1"list="steplist" id="rating" name="rating" [(ngModel)]="dailyEntry.rating"> 
                    <datalist id="steplist" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                        <option class="slider" value="0" label="0"></option>
                        <option class="slider" value="1" label="1"></option>
                        <option class="slider" value="2" label="2"></option>
                        <option class="slider" value="3" label="3"></option>
                        <option class="slider" value="4" label="4"></option>
                        <option class="slider" value="5" label="5"></option>
                        <option class="slider" value="6" label="6"></option>
                        <option class="slider" value="7" label="7"></option>
                        <option class="slider" value="8" label="8"></option>
                        <option class="slider" value="9" label="9"></option>
                        <option class="slider" value="10" label="10"></option>
                    </datalist>
            </div>
        </div>
        <div class="row">
            <small id="ratingHelpBlock" class="form-text text-muted" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                0 = No symptom today <br> 10 = Symptom is at its most intense
              </small>
        </div>
        <div class="form-group">
            <button type="submit" value="Track Symptoms Here!" class="btn btn-primary btn-lg">Track Symptoms Here!</button>
        </div>
    </form>
</div>

