.row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: .5em;
  }
  .row > label {
    padding: .5rem 1rem .5rem 0;
  }

datalist{ 
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.slider{
    width:100%;
}
.slider-bar{
    width: 100%;
}

.container col-md-7{
  position: relative;
}

.mainTitle{
  color: #aa706a;
  font-family: Amsterdam;
  letter-spacing: 1.2rem;
  font-size: 60px;
  text-align: center;
  position: relative;
  line-height: 180px;
}
.btn{
  font-size: 18px;
  justify-content: center;
}

