  <footer>
    <section class="container">
      <div class="title">
        <h3 class="ft-title">Trackfully</h3>
      </div>
      <div class="about">
        <h3 class="ft-title"><a href="/about">About</a></h3>
        <ul>
          Trackfully app is a way to track my symptoms and habits. For immediate medical attention or crisis
          intervention, please contact the listed resources.
        </ul>
      </div>
      <div class="resources">
        <h3 class="ft-title">Resources</h3>
        <ul>
          <li>Call 911 for medical emergencies
          </li>
          <li>Call or text 988 for the suicide and crisis lifeline
          </li>
          <li>
            <a href="/about">Click here for more resources</a>
          </li>
        </ul>
      </div>
    </section>
  </footer>

