<!-- Trackfully logo
About link
Resources: 911, 988, see more resources here -->


  <footer class="bg-primary text-white text-center text-lg-start" style="background-color: #9933CC">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">About</h5>
  
          <p>
            Trackfully app is a way to track my symptoms and habits. For immediate medical attention or crisis intervention, please contact the listed resources.
          </p>
        </div>
        <!--Grid column-->
  
        
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Resources</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Call 911 for medical emergencies</a>
            </li>
            <li>
              <a href="#!" class="text-white">Call or text 988 for the suicide and crisis lifeline</a>
            </li>
            <li>
              <a href="#!" class="text-white">Click for more resources</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white">Trackfully</a>
    </div>
    <!-- Copyright -->
  </footer>
  