* {
    padding:0;
    margin:0;
}

footer {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px; 
    max-width: 1500px;
}

.container h3 {
    font-size: 25px;
    padding-top: 10px;
}

.title {
    flex-grow: 1;
    flex-basis: 30%;
    font-family: Amsterdam;
    padding-top:10px;
    color: rgb(49, 49, 49);
}

.about {
    flex-grow: 1;
    flex-basis: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 20px;
    color: rgb(49, 49, 49);
}

.about a {
    color: rgb(49, 49, 49);
    text-decoration: underline;

}

.about a:hover {
    color: white;
    text-decoration: underline;
}

.about ul {
    list-style-type: none;
    line-height: 1.6;
}

.resources {
    flex-grow: 1;
    flex-basis: 70%;
    padding-left: 10px;
    padding-right: 10px;
}

.resources ul {
    list-style-type: none;
    line-height: 1.6;
}

.resources a {
    color: rgb(49, 49, 49);
    text-decoration: underline;

}

.resources a:hover {
    color: white;
    text-decoration: underline;
}

