  <footer>
    <section class="container">
      <div class="title">
        <h3 class="ft-title">Trackfully</h3>
      </div>
      <div class="about">
        <h3 class="ft-title"><a href="/about">About</a></h3>
        <ul>
          Trackfully app is a way to track my symptoms and habits. For immediate medical attention or crisis
          intervention, please contact the listed resources.
        </ul>
      </div>
      <div class="resources">
        <h3 class="ft-title"><a href="/about">Resources</a></h3>
        <ul>
          <li>Call <b>911</b> for medical emergencies
          </li>
          <li>Call or text <b>988</b> for the suicide and crisis lifeline
          </li>
        </ul>
      </div>
    </section>
  </footer>

