.content-outer-container {
    position: relative;
    min-height: 100%;
  }
  
 .content-inner-container {
    padding-bottom: 36px;    
  }
  
  .footer-container {
    height: 115px;
    margin-top: -36 px;
    position: fixed;
    clear: both;
    bottom: 0;
    width: 100%; 
    overflow:hidden;
  }