.name {
    display: flex;
    justify-content: flex-end;
}

.navbar-brand{
    color: white;
}

.navbar-nav{
    color: white;
}

.navbar-nav .nav-item-right .nav-item {
    color: black;
    padding-left: 50px;
}