<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
  <a *ngIf="navBarType==='loggedIn'" class="navbar-brand" href="/dashboard">Trackfully</a>
  <!-- displays user name if user loggedIn -->
  
  <a *ngIf="navBarType==='loggedOut'" class="navbar-brand" href="">Trackfully</a>
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
    <span class="navbar-toggler-icon"></span>
</button>

  <!-- nav bar options for logged in user -->
  <div *ngIf="navBarType==='loggedIn'" class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav">
      <li *ngFor="let items of loggedInMenuItems" class="nav-item">
        <a class="nav-link" href="{{items.linkUrl}}">{{items.linkName}} <span class="sr-only"></span></a>
      </li>
    </ul>

    <!-- div for right aligned items on navbar (for signed in users only) -->
  </div>
  <div *ngIf="navBarType==='loggedIn'" class="collapse navbar-collapse align-items-center">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item-right"> Welcome, {{userName}}!</li>
      <li *ngFor="let items of rightAlignedItems" class="nav-item-right">
        <a class="nav-item" href="{{items.linkUrl}}">{{items.linkName}}</a>
      </li>
      
    </ul>
  </div>


  <!-- nav bar options for logged out user -->
  <div *ngIf="navBarType==='loggedOut'" class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav">
      <li *ngFor="let items of loggedOutMenuItems" class="nav-item">
        <a class="nav-link" href="{{items.linkUrl}}">{{items.linkName}} <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>