.name {
    display: flex;
    justify-content: flex-end;
}

.navbar-brand{
    font-family: amsterdam;
}

.navbar-nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}